@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("./fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("./fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("./fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("./fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.container {
  width: 1570px;
  max-width: 95%;
  margin: 0 auto;
}

body {
  background-color: #fff;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
}
.hero video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero .hero_text_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.hero_text_bg .container {
  height: 100%;
}
.hero_text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-top: 40px;
}
.navbar {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
}
.navbar li a {
  font-family: "Gilroy";
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
.phone {
  font-family: "Gilroy";
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: right;
  color: #fff;
}
.book {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.book_text {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: #fff;
}
.book_text p {
  font-family: "Gilroy";
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #fff;
}
.book_text h1 {
  font-family: "Gilroy";
  font-size: 96px;
  font-weight: 500;
  line-height: 85px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #fff;
}
.book_btn_white {
  margin-right: auto;
  margin-left: auto;
  font-family: "Gilroy";
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 7px 30px;
  cursor: pointer;
}
.book_btn {
  margin-right: auto;
  font-family: "Gilroy";
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
  background-color: transparent;
  border: 1px solid #111111;
  border-radius: 100px;
  padding: 7px 30px;
  margin-top: 30px;
  cursor: pointer;
}
.halls {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.halls h2 {
  font-family: "Gilroy";
  font-size: 148px;
  font-weight: 500;
  line-height: 192px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
  position: relative;
}
.halls h2:after {
  content: "(5)";
  position: absolute;
  top: 55px;
  right: -40px;
  font-family: "Gilroy";
  font-size: 36px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
}
.halls p {
  font-family: "Gilroy";
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.02em;
  text-align: left;
  max-width: 560px;
  color: #111111;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #111111;
  margin: 50px 0;
}

.hall_hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.hall_text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.hall_slider {
  width: 50%;
}
.hall_text h2 {
  font-family: "Gilroy";
  font-size: 92px;
  font-weight: 500;
  line-height: 120px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
}
.hall_text p {
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
  margin: 15px 0;
}
.hall_text p span {
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
}
.with_dot {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.with_dot li {
  padding-left: 12px;
  font-family: "Gilroy";
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
}
.with_dot li::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #111111;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.without_dot {
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
}
.hall_text h3 {
  font-family: "Gilroy";
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
  margin-bottom: 5px;
}
.hall_slider {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.main_img {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}
.main_img img {
  width: 100%;
  height: 100%;
}
.other_images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.other_images img {
  width: calc((100% - 100px) / 6);
  aspect-ratio: 1/1;
  cursor: pointer;
}
.hall_hero_reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.other_bg {
  padding: 30px 0;
  background-color: #111111;
  margin-bottom: 20px;
}
.other {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.other h2 {
  font-family: "Gilroy";
  font-size: 148px;
  font-weight: 500;
  line-height: 192px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #fff;
  position: relative;
}
.other p {
  font-family: "Gilroy";
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.02em;
  text-align: left;
  max-width: 368px;
  color: #fff;
}

.zone {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px 0;
  width: 100%;
}
.zone_reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px 0;
  width: 100%;
}
.zone_text {
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.zone_text h2 {
  font-family: "Gilroy";
  font-size: 92px;
  font-weight: 500;
  line-height: 120px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
  position: relative;
}
.zone_text h2 span {
  position: absolute;
  font-family: "Gilroy";
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
  top: 20px;
  right: -165px;
}
.zone_text p {
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
}
.zone_images {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.zone_images img {
  width: calc((100% - 10px) / 2);
  aspect-ratio: 1/1;
}
.animated-text-container {
  overflow: hidden;
  width: 100%;
}

.animated-title {
  white-space: nowrap;
  font-family: "Gilroy";
  font-size: 148px;
  font-weight: 500;
  line-height: 148px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
  animation: scrollText 20s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.dote {
  width: 20px;
  height: 20px;
  background-color: #111111;
  border-radius: 50%;
  transform: translateY(-30px) !important;
}

.play {
  width: 100%;
  height: 646px;
  position: relative;
  background-image: url("./images/play/play1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.play2 {
  width: 100%;
  height: 646px;
  position: relative;
  background-image: url("./images/play/play2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.play_btn {
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  position: relative;
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.play_btn img {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 10px;
}
.equipment {
  width: 100%;
  height: 1000px;
  position: relative;
  background-image: url("./images/equipment/equipment.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 100px 0 80px;
  color: #fff;
}
.equipment_text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 30px;
}
.equipment_text h2 {
  font-family: "Gilroy";
  font-size: 148px;
  font-weight: 500;
  line-height: 192px;
  letter-spacing: 0.02em;
  text-align: left;
}
.equipment_text ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
.equipment_text > ul {
  width: 100%;
  padding-left: 50px;
}
.equipment_text ul li {
  font-family: "Gilroy";
  font-size: 22px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.02em;
  text-align: left;
}
.equipment_bottom {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 20px;
  width: 100%;
}
.equipment_bottom ul {
  width: 35%;
}

.base {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 50px 0 100px;
}
.base_title {
  font-family: "Gilroy";
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
}
.base_items {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
}
.base_items li {
  padding: 5px 20px;
  border-radius: 100px;
  border: 1px solid #111111;
  font-family: "Gilroy";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
}
.promotion_title {
  font-family: "Gilroy";
  font-size: 148px;
  font-weight: 500;
  line-height: 192px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
  margin: 60px 0 20px;
  position: relative;
  width: max-content;
}
.promotion_title::after {
  position: absolute;
  top: 50px;
  right: -80%;
  content: "(спецпредложения)";
  font-family: "Gilroy";
  font-size: 36px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-align: left;
}
.promotion_subtitle {
  padding: 20px;
  width: 100%;
  background-color: #111111;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promotion_subtitle h3 {
  font-family: "Gilroy";
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #fff;
  max-width: 50%;
}
.promotion_subtitle h3 span {
  font-family: "Gilroy";
  font-size: 36px;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-align: left;
}
.promotion_subtitle .book_btn_white {
  margin-left: auto;
  margin-right: 0;
}
.promotion_hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: max-content;
  margin: 80px 0;
  position: relative;
}
.promotion_left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 42%;
}
.promotion_left h5,
.promotion_left p {
  font-family: "Gilroy";
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
}
.promotion_left p {
  position: absolute;
  bottom: 60px;
  left: 40px;
}
.promotion_right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.promotion_right .line {
  margin: 15px 0;
}
.promotion_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.promotion_item_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.promotion_item_title_left {
  width: 25%;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.promotion_item_title_left h2 {
  font-family: "Gilroy";
  font-size: 171px;
  font-weight: 500;
  line-height: 222px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #888888;
}
.promotion_item_title_left img {
  width: 90%;
  aspect-ratio: 1/0.5;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  border-radius: 60px;
}
.promotion_item_title_text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  margin-right: auto;
}
.promotion_item_title_text h3 {
  font-family: "Gilroy";
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
}
.promotion_item_title_text p {
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
}
.promotion_item_title_plus {
  width: 15%;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.promotion_content {
  width: 75%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: 0.5s;
}
.promotion_content p {
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
  margin: 15px 0;
}
.promotion_content h3 {
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
}
.promotion_content ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.promotion_content ul li {
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
}
.promotion_content_images {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  width: 100%;
  align-items: center;
}
.promotion_content_images img {
  width: 30%;
  aspect-ratio: 1/1;
}
.question_title {
  font-family: "Gilroy";
  font-size: 148px;
  font-weight: 500;
  line-height: 192px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
  position: relative;
  width: max-content;
  margin-bottom: 80px;
}
.question_title::after {
  content: "(отвечаем)";
  position: absolute;
  top: 50px;
  right: -190px;
  font-family: "Gilroy";
  font-size: 36px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
  margin-bottom: 50px;
}
.question_acc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.question_acc .line {
  margin: 5px 0;
}
.question_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  transition: 0.4s;
}
.question_item_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.question_item_title h2 {
  font-family: "Gilroy";
  font-size: 68px;
  font-weight: 500;
  line-height: 88px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #888888;
  width: 30%;
}
.question_item_title_h4 {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
}
.question_item_title h4 {
  font-family: "Gilroy";
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.02em;
  text-align: left;
  max-width: 516px;
  margin: 0 !important;
  padding: 0 !important;
  text-align: left;
}
.question_item_title p {
  width: 20%;
  text-align: right;
  font-size: 100px;
  padding-right: 10px;
  color: #888888;
}
.question_item_hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  width: 50%;
  margin-left: 30%;
  margin-right: 20%;
  padding-bottom: 50px;
}
.question_item_hero p {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #111111;
}
